@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e1e1e1;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.price-area{
  .cifra{
    
  }
  input{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 5px;
  }
}

.qtd-area{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  button{
    font-size: 22px;
    font-weight: bold;
    width: 30px;
  }
}

.container-height{
  max-height: 93vh;
  overflow: auto;
}